.TrainsList__item {
    background-color: honeydew;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.TrainsList__item > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.TrainsList__item:hover {
    cursor:pointer;
}

input.TrainsList__item {
    text-align: center;
    border: 0;
    outline: 0;
}