.TrainsList {
  background-color: #f7e7d5;
  height: calc(100vh - 60px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.TrainsList__header, .TrainsList__footer{
  background-color:  #c4f6b7;
  color: green;
}

