.TrainsList {
  background-color: #f7e7d5;
  height: calc(100vh - 150px);
  margin-bottom: 75px;
  min-height: 650px;
}

.TrainsList__header, .TrainsList__footer{
   background-color:  #c4f6b7;
   color: green;
 }

.TrainsList__header, .TrainsList__footer{
  background-color:  #c4f6b7;
  color: green;
}

