body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.item {
  box-sizing: border-box;
  margin: 0 15px;
}

@for $i from 1 to 13 {
  .item-#{$i} {
    $h: percentage(1 / 12 * $i);
    width: calc(#{$h}  - 1px);
  }
}