.TrainGeneralInfo {
  height: calc(100vh - 137px);
  background-color: #c4f6b7;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow-y: scroll;
}

.TrainGeneralInfo__caption {
    font-size: 25px;
}

.TrainGeneralInfo__description {
  font-size: 20px;
}

.TrainGeneralInfo__headitem {
  font-weight: bold;
}