.TrainsList {
  background-color: #f7e7d5;
  height: calc(100vh - 60px);
  overflow-x: hidden;
  overflow-y: scroll;
}


.TrainsList__item{
  background-color: honeydew;
  font-size: 16px;
}

.TrainsList__header, .TrainsList__footer{
  background-color:  #c4f6b7;
  color: green;
}

input.TrainsList__item {
  padding:0px;
  border:0px;
  outline:0px;
}